body {
    background: #121212;
    color: #eee;
    font-family: 'JetBrains Mono', monospace;
    font-size: 14px;
}

.gemdump {
    background: #1e1e1e;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid #333;
    overflow-x: auto;
    max-height: 600px;
    margin-bottom: 2rem;
}

.hl-search-match {
    background-color: #ffbf00;
    color: #000;
}
